<div (click)="popUpPost()"
     class="container pointer"
     flex="100"
     layout="row"
     alignment="flex-start center">
    <div class="foreground post-body p-xs"
         flex="100"
         layout="column"
         alignment="space-between flex-start">
        <div class=""
            flex="100"
            layout="row"
            alignment="flex-start flex-start">
            <div class="visual-container"
                flex="20"
                layout="row"
                alignment="flex-start flex-start">
                <img class="p-s" src="{{post.picUrl}}">
            </div>
            <div class="description-container p-s"
                flex="80"
                layout="row"
                alignment="flex-start flex-start">
                <!--TODO: only 1, just for bug fix-->
                <span class="bold">{{post.title}}</span>
                <span class="m-xs" [innerHtml]="post.description"></span>
                <!--<span class="m-xs">{{post.description}}</span>-->
            </div>
        </div>
        <div class="date-container m-left-xs">
            <span>{{post.location}} / 5 minutes ago</span>
            <div class="list-categories"*ngIf="displayCats">
                <span *ngFor="let cat of post.categories"
                    class="m-left-m categories m-right-s">{{cat}}
                </span>
            </div>
        </div>
    </div>
</div>
