<div (click)="popUpProfile()"
     class="container pointer"
     flex="100"
     layout="row"
     alignment="flex-start center">
    <div class="foreground profile-body p-xs"
         flex="100"
         layout="column"
         alignment="flex-start flex-start">
        <div class=""
            flex="100"
            layout="row"
            alignment="flex-start flex-start">
            <div class="visual-container"
                flex="20"
                layout="row"
                alignment="flex-start flex-start">
                <img class="p-s" src="{{profile.picUrl}}">
            </div>
            <div class="description-container p-s"
                flex="80"
                layout="row"
                alignment="flex-start flex-start">
                <!--TODO: only 1, just for bug fix-->
                <span class="m-xs" [innerHtml]="profile.description"></span>
                <!--<span class="m-xs">{{post.description}}</span>-->
            </div>
        </div>
        <div class="date-container m-left-xs">
            Related categories: <span *ngFor="let cat of profile.categories"
                  class="categories m-right-s">{{cat}}</span>
        </div>
        <div class="date-container m-left-xs">
            Location: {{profile.location}}
        </div>
        <div class="contact">
                <button type="button" value="Contact" name="contact">Contact US</button>
        </div>
    </div>
</div>