<div flex="100"
     layout="row"
     alignment="center center">
<div layout="row"
     alignment="center center"
     flex="100">
  <div layout="row"
       alignment="space-around center"
       flex="100">
    <div class="tab-link"
         routerLink="{{parentState}}/{{tab.state}}"
         *ngFor="let tab of tabs; let i = index;"
         [ngClass]="{active: activeTab === (parentState + '/' + tab.state)}"
         fill>
      <div>
        <app-tab class="p-xs"
                 [isActive]="activeTab === (parentState + '/' + tab.state)"
                 [label]="tab.label"
                 [state]="tab.state">
        </app-tab>
      </div>
    </div>
  </div>
</div>
</div>
