<div class="board-container p-m">
  <div class="m-bottom-l"
            *ngFor="let post of posts; let i = index;">
    <div class="post-container foreground"
         flex="100"
         layout="row"
         alignment="flex-start flex-start">
      <our-post flex="100" [post]="post"></our-post>
    </div>
  </div>
</div>
