<div class="p-xs"
     flex="100"
     alignment="center center"
     layout="row">
  <div layout="column"
       alignment="center center"
       nogrow>
    <div>
      <select (change)="onSelectionChange($event.target.value)">
        <option value="posts">Posts</option>
        <option value="profiles">Profiles</option>
      </select>
    </div>
  </div>
  <div layout="column"
       alignment="center center"
       fill>
    <div flex="100">
      <div class="m-right-s m-top-s">
        <input [(ngModel)]="search"
               placeholder="Search profiles or posts"
               type="text">
      </div>
    </div>
  </div>
</div>
<div class="hear-container m-top-s">
  <gallery-board *ngIf="!searchProfiles" [posts]="posts | string : search"></gallery-board>
  <gallery-board *ngIf="searchProfiles" [posts]="profiles | string : search"></gallery-board>
<div>
