
.main-logo {
  background-color: #fff;
  img{
    padding: 1px;
  }
}

.content {
    width: 50em;
    height: 100%;
}

.right-side-bar {
  right: 0;
  height:100%;
}

app-notification-list {
  display: block;
}

.main-container {
  height: 100%;
}

.under-nav-container {
  height: 100%;
  overflow: auto;
  padding-bottom: 30px;
}

.menu{
  position: fixed;
  top: 10px;
  right: 30px;
  height: 40px;
  width: 260px;
}

.menu-items-container{
  span{
    margin-right: 5px;
  }
}

.tabs-wrapper {
  overflow-y: hidden;
}

.tabs-container {
  $transitionTime: 0.16s;
  .menu-button-container {
    height: 60px;
    visibility: visible;
    pointer-events: initial;
    transition: height $transitionTime linear;
  }

  &.shown .menu-button-container {
    height: 0px;
    visibility: hidden;
    pointer-events: none;
    transition: height $transitionTime linear;
  }

  &.shown app-tabs-list {
    height: 60px;
    visibility: visible;
    pointer-events: initial;
    transition: height $transitionTime linear;
  }

  app-tabs-list {
    height: 0px;
    pointer-events: none;
    visibility: hidden;
    display: block;
    transition: height $transitionTime linear;
  }
}

.top-right-menu-container{
  position: fixed;
  top: 15px;
  right: 15px;
}