<div class="container foreground pointer"
     (click)="popUpPost()"
     flex="100"
     layout="row"
     alignment="flex-start flex-start">
  <div class="post-content m-xs">
    <img class="m-xs" src="{{post.picUrl}}"/>
    <div class="gallery-post-description">
      <div class="m-xs">{{cutDescription(post.description)}}</div>
    </div>
  </div>
</div>
