<div class="dashboard-container m-5"
     flex="100"
     layout="column"
     alignment="flex-start center">
  <div flex="100"
       layout="row"
       alignment="space-between flex-start">
    <div class="board" flex="100"
         alignment="center center"
         layout="column">
      <div class="add-post p-m"
           flex="100"
           alignment="center center"
           layout="row">
           <div fill>
              <textarea class="post-description"
                        #postDescription
                        required
                        placeholder="Post something.."></textarea>
           </div>
           <div layout="column"
                alignment="center center"
                nogrow>
             <button class="new-post-button"
                     type="button"
                     (click)="addPost()">Post</button>
           </div>
      </div>
      <app-board [posts]="posts"></app-board>
    </div>
  </div>
</div>
