<div (click)="popUpPost()"
     class="container foreground p-s pointer"
     flex="100"
     layout="column"
     alignment="center center">
     <img src="{{post.picUrl}}"/>
     <span>{{post.description}}</span>
</div>