@import "../funcs/generateBoxSpaceProp";
@import "../vars/boxSpace";

@each $dir in $directions {
  @each $size in $sizes {
    $i: index($sizes, $size);
    $sizeName: nth($sizeNames, $i);

    .p-#{$dir}-#{$sizeName} {
      @include generateBoxSpaceProp('padding', $dir, $size);
    }
  }
}

@each $size in $sizes {
  $i: index($sizes, $size);
  $sizeName: nth($sizeNames, $i);

  .p-#{$sizeName} {
    padding: #{$size}px !important;
  }
}
