<div class="container">
  <div flex="100"
      alignment="center center"
      layout="column">
    <div flex="50"
        layout="row"
        alignment="center center"
        class="like bold lgrayText"
        (click)="toggleLike()">
      <img *ngIf="!post.isLiked" src="./assets/icons/like.svg">
      <img *ngIf="post.isLiked" src="./assets/icons/liked.svg">
    </div>
    <div class="like-count"
        flex="50"
        layout="column"
        alignment="center center">
      <span>{{post.likesCount}}</span>
    </div>
  </div>
</div>
