<div class="dashboard-container"
     flex="100"
     layout="column"
     alignment="flex-start center">
  <div flex="100"
       layout="row"
       alignment="space-between flex-start">
    <div class="board" flex="100">
      <app-board [posts]="posts"></app-board>
    </div>
  </div>
  <div flex="20">
  </div>
</div>
