<div class="container">
  <div class="-m"
       flex="100"
       layout="row"
       alignment="flex-start center"
       nowrap>
    <div class="post-content" fill>
      <app-post-body [displayCats]="false" [post]="post" (onDateClicked)="showCalendar($event)"></app-post-body>
    </div>
    <div class="post-actions" no-grow>
      <post-actions [post]="post"></post-actions>
    </div>
  </div>
</div>
